* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --hue: 569;
    --primary: hsl(var(--hue), 90%, 55%);
    --trans-dur: 0.3s;

}

.all {
    font: 1em/1.5 "DM Sans", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition:
        background-color var(--trans-dur),
        color var(--trans-dur);
}

.preloader {
    text-align: center;
    width: 100%;
}

.cart {
    display: block;
    margin: 0 auto 1.5em auto;
    width: 8em;
    height: 8em;
}

.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel {
    animation: cartLines 2s ease-in-out infinite;
}

.cart__lines {
    stroke: var(--primary);
}

.cart__top {
    animation-name: cartTop;
}

.cart__wheel1 {
    animation-name: cartWheel1;
    transform: rotate(-0.25turn);
    transform-origin: 43px 111px;
}

.cart__wheel2 {
    animation-name: cartWheel2;
    transform: rotate(0.25turn);
    transform-origin: 102px 111px;
}

.cart__wheel {
    animation-name: cartWheelStroke
}

.cart__track {
    stroke: hsla(var(--hue), 10%, 10%, 0.1);
    transition: stroke var(--trans-dur);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }

    .cart__track {
        stroke: hsla(var(--hue), 10%, 90%, 0.5);
    }
}

/* Animations */
@keyframes msg {
    from {
        opacity: 1;
        visibility: visible;
    }

    99.9% {
        opacity: 0;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes cartLines {

    from,
    to {
        opacity: 0;
    }

    8%,
    92% {
        opacity: 1;
    }
}

@keyframes cartTop {
    from {
        stroke-dashoffset: -338;
    }

    50% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 338;
    }
}

@keyframes cartWheel1 {
    from {
        transform: rotate(-0.25turn);
    }

    to {
        transform: rotate(2.75turn);
    }
}

@keyframes cartWheel2 {
    from {
        transform: rotate(0.25turn);
    }

    to {
        transform: rotate(3.25turn);
    }
}

@keyframes cartWheelStroke {

    from,
    to {
        stroke-dashoffset: 81.68;
    }

    50% {
        stroke-dashoffset: 40.84;
    }
}




.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(255, 69, 69);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 1px;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;

}

.svgIcon path {
    fill: rgb(255, 69, 69);
}

.btn:hover {
    width: 200px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
    transition: all 0.3s;
    
    path{
        fill: white;
        transition: all 0.5s;
    }
    
}

.btn:hover .bin_bottom {
    width: 50px;
    transition-duration: 0.3s;
    transform: translateY(60%);
}

.bin-top {
    transform-origin: bottom right;
}

.btn:hover .bin_top {
    width: 50px;
    transition-duration: 0.3s;
    transform: translateX(90%) translateY(60%) rotate(160deg);
}

.btn::before {
    position: absolute;
    top: -30px;
    content: "Delete All";
    color: white;
    transition-duration: 0.3s;
    font-size: 3px;
}

.btn:hover::before {
    font-size: 11px;
    opacity: 1;
    transform: translateY(35px);
    transition-duration: 0.3s;
}